@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

.custom_toast {
  width: 275px;
  padding: 10px 20px !important;
  min-height: 55px !important;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}


/* =============== Fonts =============== */

@font-face {
  font-family: arista-pro-trial-extralight;
  src: url(../public/fonts/arista-pro-trial-extralight.ttf);
}

@font-face {
  font-family: arista-pro-trial-light;
  src: url(../public/fonts/arista-pro-trial-light.ttf);
}

@font-face {
  font-family: arista-pro-trial-semibold;
  src: url(../public/fonts/arista-pro-trial-semibold.ttf);
}

@font-face {
  font-family: arista-pro-trial-bold;
  src: url(../public/fonts/arista-pro-trial-bold.ttf);
}

@font-face {
  font-family: arista-pro-alt-extralight;
  src: url(../public/fonts/arista-pro-alternate-extralight.ttf);
}

@font-face {
  font-family: arista-pro-alt-light;
  src: url(../public/fonts/arista-pro-alternate-light.ttf);
}

@font-face {
  font-family: arista-pro-alt-semibold;
  src: url(../public/fonts/arista-pro-alternate-demibold.ttf);
}

@font-face {
  font-family: arista-pro-alt-bold;
  src: url(../public/fonts/arista-pro-alternate-bold.ttf);
}